<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404: Página no encontrada</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@50&display=swap" rel="stylesheet">
</head>
<body>
    <h1>404: No se encuentra la página.</h1>
    <div align="center"><img src="img/8771068b771018362268c646e8506ee7.png" alt="Homer Simpson saying D'oh">
    <p>
        <a href="/">Volver a la página principal</a>
    </p>
</body>
</html>