<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes: Clarke</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1>Joan Clarke</h1>
    <img class="imagen-vertical-Heroes" src="img/joanc1.jpg" alt="">
    <p>
        Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke (24 de junio de 1917 - 4 de septiembre
        de 1996) fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la
        Segunda Guerra Mundial.
        Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó
        las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el
        nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.
    </p>
    <li><a href="/babbage">Charles Babbage</a></li>
    <li><a href="/berners-lee">Tim Berners Lee</a></li>
    <li><a href="/hamilton">Margaret Hamilton</a></li>
    <li><a href="/hopper">Grace Hopper</a></li>
    <li><a href="/lovelace">Ada Lovelace</a></li>
    <li><a href="/turing">Alan Turing</a></li>
    <li><a href="/">Volver a la página principal</a></li>
    </p>
    <p>
    <h5>Producido por Camarota, Nazarena (Digital House - 2022)</h5>
    </p>
</body>

</html>