<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@25&display=swap" rel="stylesheet">
</head>

<body>
    <h1>TP#04 DH Heroes</h1>
    <ul>
        <h3>¡Bienvenidxs a mi trabajo práctico!
            <br>Aquí podrán explorar y encontrar información de los referentes del mundo de la programación que
            convirtió a éste lo que es hoy en día.
        </h3>
        <img class="imagen-Index" src="img/programacion1.jpg" alt="">
        <p>
            <li><a href="/babbage">Charles Babbage</a></li>
            <li><a href="/berners-lee">Tim Berners Lee</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/hamilton">Margaret Hamilton</a></li>
            <li><a href="/hopper">Grace Hopper</a></li>
            <li><a href="/lovelace">Ada Lovelace</a></li>
            <li><a href="/turing">Alan Turing</a></li>
        </p>
        <p>
        <h5>Producido por Camarota, Nazarena (Digital House - 2022)</h5>
        </p>
    </ul>
</body>

</html>