body {
    background-color: rgb(0, 35, 60);
}
h1 {
    color: whitesmoke;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}
h3 {
    color: whitesmoke;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}
h5 {
    color: whitesmoke;
    font-family: 'Signika Negative', sans-serif;
}
li {
    color:whitesmoke;
    font-family: 'Signika Negative', sans-serif;
}
a {
    color:rgb(50, 150, 225);
    font-family: 'Signika Negative', sans-serif;
}
p {
    color: whitesmoke;
    font-family: 'Signika Negative', sans-serif;
}
img.imagen-vertical-Heroes {
    height: 40%;
    width: 325px;
}
img.imagen-horizontal-Heroes {
    height: 325px;
    width: 40%;
}
img.imagen-Index {
    height: 125px;
    width: 95%;
}